.menu li{
    list-style: none;
    display: inline-block;
    margin: 5px 15px 5px 15px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 15px;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    background: purple;
    color: white;
}

.menu {
    background:#571b56;
    padding: 5 px 15px;
    /*text-align: left;*/
}
h1 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font: bold 14px sans-serif;
    font-size: 14px;
}

body {
    text-align: center;
    background:#3a1239;
}

.agrupar {
    border: 1px solid black;
    padding: 20px;
    background:#742372;
    width: 900px;
    margin: 20px auto;
}

.cabecera {
    background-color: purple;
    border: 1px solid gray;
    padding: 20px;
    color: white;
}

.seccion {
    width: 600px;
    margin: 10px;
    float: left;
}



#idArticulo1, #idArticulo2 {
    background: rgb(186, 3, 186);
    border: 1px solid black;
    padding: 20px;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}

article footer {
    text-align: right;
}

.referencias {
    width: 200px;
    float: right;
    margin: 30px 35px;
    padding-left: 2px;
}

.pie {
    clear: both;
    font-weight: bolder;
}

blockquote {
    border:1px solid black ;
    padding: 5px;
    background: purple;
    width: 150px;
    color: white;
    border-radius: 5px;
}

img {
    width: 200px;
    height: 200px;
}