h1{
    color: blue;
    background: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clasemedia{
    color:brown;
    background: yellow;
}
.clasealta{
    color: cornflowerblue;
    background: black;
}